<h1> <%=@category.name%></h1> 

<form action="/save_event">
  <p> Name (required): <input type="text" placeholder="name" name="name" value="<%= params["name"]%>" required></p>
  
  <p> Date: <input type="date" name="date" value="<%= params["date"]%>" required></p>
  
  <input type="hidden" name="category_id" value="<%=@category.id%>">
  
  <p> When should this <%=@category.name%> happen again?</p>
  <select name="reminder_date">
    <option value="7">1 week</option>
    <option value="30">1 month</option>
    <option value="90">3 months</option>
    <option value="180">6 months</option>
    <option value="365">1 year</option>
  </select>
  <p> Comments: <input type="text" name="comment" value="<%= params["comment"]%>" required></p>
  
  <p> <input type="submit" value="submit"></p>

</form>

  