<h1><%=@category.name%> Saved!</h1>
<p>Name: <%= @event.name %> </p>
<p>For: <%=@string.to_sentence%>
<p>Date: <%=@event.date%> </p>
<p>Reminder Time: <%=@event.reminder_time%> days </p>
<p>notes: <%=@event.comment%></p>

<a href="/see_profile/<%=@owner.id%>">Return to your profile.</a>