
<div id="home_ux">
  <div class="profile">
    <div class="user_box"> 
      <a href="/home">
        <img src="/logo2.svg" type="image/svg+xml" class="logo2">
      </a>
      
      <div class="user_name"> Hi <%= @owner.name %> </div>
      <div class="user_iconf">
      </div>
      <div class="profile_text">
        <a href="/edit_profile/<%= @owner.id %>">edit profile</a> 
        <br><a href="/home">main menu</a> </br>
      </div>
    </div>

    <!-- add new event by category -->

    <div id="square_button">
      events
    </div>
    <div id="square_button2">
     pets
    </div>
 
  </div>


  <div id="cat_back">
    
    
    <div id="events">
      <div id="add_pet_event">add a pet event:</div>
     
      <% Category.all.each do |category| %>
      <a href = "/create_event/<%= category.id %>/<%= @owner.id %>" class="blue">
        <%if category.name == "Medicine"%>
        <div id="icons_wrapper">
          <div id="medicine_mobile">
          <div class="medicine_icon"></div>
          <div class="center"> 
            <%= category.name %>
          </div>
        </div>
      </a> 
      <% end %>
      <%if category.name == "Grooming"%>
      <div id="medicine_mobile">
        <div class="grooming_icon"></div>
        <div class="center"> 
          <%= category.name %>
        </div>
      </div>
    </a> 
    <% end %>
     
    <%if category.name == "Vet Visit"%>
    <div id="medicine_mobile">
      <div class="vet_visit_icon"></div>
      <div class="center"> 
        <%= category.name %>
      </div>
    </div>
  </a> 
  <% end %>
  <% end %>
  
  <div style="clear:both">
    </div>
    
  </div> 
</div>


<!-- listing pets to edit or delete -->
  
 
<!-- or each pet, show the corresponding events. -->
<!-- or for each event, show details and pets involved. --> <!-- ## this will be the join table. -->
<!-- both! -->
  
   
<div id="pets">
  <%pets = Pet.where("owner_id", @owner.id)%>
  
  <% pets.each do |pet| %>
  <p><h2> <%=pet.name%></h2> <a href="/edit_pet/<%=pet.id%>">edit name</a> <a href="/delete_pet/<%=pet.id%>"><br>delete pet</br></a><%@petid = pet.id%></p>
  <%@petsandevents.each do |hash|%>
  <% if hash["pet"] == @petid%>
    <b><%= hash["name"]%></b> - date: <%= hash["date"]%> notes: <%= hash["comment"]%> - <%@event = Event.find(hash["id"])%> due again: <%=@date = @event.increment_date(@event.date, @event.reminder_time.to_i)%> 
      <a href ="/delete_event_bridge/<%=@petid%>/<%=hash["id"]%>/<%=@owner.id%>">delete from pet</a>
      <% end %>
      <% end %>
      <% end %>

      <!-- add pet -->
      <h2><a href="/add_pet/<%=@owner.id %>">Add a Pet</a></h2>
      <!-- edit user profile -->
    </div>
  </div>
</div>

     
    
