  <% Event.all.each do |event| %>
  <p> <a href="/delete_event/<%=event.id%>">Event name: <%= event.name %> Date: <%= event.date %> Reminder Time:  <%= event.reminder_time %> comments:<%= event.comment %></a>
    <% end %>