<h1> <%=@category.name%></h1> 

<form action="/edit_event_save">
  <p> Name (required): <input type="text" placeholder="name" name="name" value="<%=@event.name%>" required></p>
  <!-- what to do with pet information.  -->
  
  <p> For pets:
    <%pets = Pet.where("owner_id", @owner.id)%>
    <% pets.each do |pet| %>
    <input type ="checkbox" name= "pets[]" value="<%=pet.id%>"><%=pet.name%></b> 
    <% end %>
      
  
    <p> Date: <input type="date" name="date" value="<%=@event.date%>" required></p>
  
    <input type="hidden" name="category_id" value="<%=@category.id%>">
    <input type="hidden" name="id" value="<%=@event.id%>">
  
    <p> When should this <%=@category.name%> happen again?</p>
    <select name="reminder_time">
      <option value="7">1 week</option>
      <option value="30">1 month</option>
      <option value="90">3 months</option>
      <option value="180">6 months</option>
      <option value="365">1 year</option>
    </select>
    <p> Notes about this<%=@category.name%>: <input type="text" type="text" cols="40" rows="5" 
      style="width:200px; height:50px;" name="comment" value="<%= @event.comment%>"></p>
  
      <p> <input type="submit" value="submit"></p>

    </form>

  